@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-orange: hsl(35, 77%, 62%);
  --clr-red: hsl(5, 85%, 63%);
  --clr-off-white: hsl(36, 100%, 99%);
  --clr-grayish-blue: hsl(233, 8%, 79%);
  --clr-dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-dark-blue: hsl(240, 100%, 5%);
}

.hover:hover {
  cursor: pointer;
}

.hover-red:hover {
  color: var(--clr-red);
}

.hover-orange:hover {
  color: var(--clr-orange);
}

p {
  color: var(--clr-dark-grayish-blue);
}

img {
  max-width: 100%;
  display: block;
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  margin: -1;
}

html {
  font-family: Inter;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-color: var(--clr-off-white);
  color: var(--clr-dark-blue);
}

#root {
  width: calc(100% - 3rem);
  max-width: 1110px;
  margin-inline: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 8.8rem;
}

ul {
  list-style-type: none;
  display: flex;
}

.nav-link {
  display: inline-block;
  padding-block: 1rem;
  padding-left: 3.5rem;
  color: var(--clr-dark-grayish-blue);
  text-decoration: none;
}

.top-section {
  margin-top: 5.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}

.hero-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  line-height: 1.5;
  letter-spacing: 0;
  margin-top: 3.4rem;
  min-height: 17.8rem;
}
.hero-text h2 {
  font-size: 5.5rem;
  font-weight: 800;
  line-height: 1.04;
}

.hero-text div {
  display: grid;
  align-content: space-between;
}

.btn {
  display: inline;
  width: 18.6rem;
  padding: 1.3rem 3rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  background-color: var(--clr-red);
  color: var(--clr-off-white);

  &:hover {
    background-color: var(--clr-dark-blue);
  }
}

aside {
  padding: 3rem 2.5rem 0;
  width: 100%;
  max-width: 35rem;
  min-height: 51.1rem;
  display: grid;
  justify-content: space-between;
  background-color: var(--clr-dark-blue);
  color: var(--clr-off-white);
  justify-self: flex-end;
}

aside h2 {
  font-size: 3.7rem;
  color: var(--clr-orange);
}

hr {
  height: 1px;
}

.box {
  margin-block: 3.2rem;
}

.box h3 {
  letter-spacing: 1.5px;
}

.box p {
  margin-top: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--clr-grayish-blue);
}

.bottom-section {
  margin-top: 7.1rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(34rem, 1fr));
}

.news-card {
  width: 100%;
  display: flex;
  gap: 2.5rem;
}

.news-card img {
  width: 100px;
}

.info {
  display: grid;
  justify-content: space-between;
}

.info span {
  font-size: 3rem;
  font-weight: 700;
  color: var(--clr-grayish-blue);
}

.info a {
  font-size: 1.64rem;
  font-weight: 800;
}

.info p {
  letter-spacing: 0;
  line-height: 1.6;
  align-self: flex-end;
}

@media screen and (width < 880px) {
  .top-section {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  aside {
    max-width: 100%;
  }
}

@media screen and (width < 700px) {
  header {
    margin-top: 3rem;
  }

  header img {
    height: 3rem;
  }

  .top-section {
    margin-top: 2.8rem;
  }

  .menu-btn {
    position: relative;
    z-index: 10;
    border: none;
    background-color: transparent;
    width: 5rem;
  }

  nav ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100vh;
    background-color: var(--clr-off-white);
    box-shadow: -30vw 0 rgba(0, 0, 0, 0.5);
    flex-direction: column;
    padding-top: 30vh;
    font-size: 2rem;
  }

  .hero-text {
    margin-top: 2rem;
    grid-template-columns: 1fr;
  }

  .hero-text h2 {
    font-size: 4.2rem;
  }

  .hero-text a {
    margin-top: 4rem;
  }
}
